body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#question {
    font-size: 20px;
    margin-bottom: 20px;
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.option {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option:hover {
    background-color: #555;
}

.option:active {
    background-color: #666;
}

option:focus {
    outline: none;
}

.alert {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #555;
}
