body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
}

.question-fieldset {
    border: none;
    margin-bottom: 20px;
}

.question-fieldset legend {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.option-input {
    margin-right: 10px;
}

.submit-button {
    background-color: #343a40;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit-button:hover {
    transform: scale(1.1);
}

.submit-button:focus {
    outline: none;
}
